<footer class="footer">
    <div class="footer__flecha"><img src="../../public/assets/images/ico-scroll-down.svg" alt=""> </div>
    <nav class="footer__nav1">
        <ul class="footer__nav1__ul1">
            <li class="footer__nav1__ul1__li"><a class="footer__nav1__ul1__li__link" href="https://adalab.es/"
                    target="__blank" title="Articles">Articles</a>
            </li>
            <li class="footer__nav1__ul1__li"><a class="footer__nav1__ul1__li__link" href="https://adalab.es/"
                    target="__blank" title="Books">Books</a>
            </li>
            <li class="footer__nav1__list__li"><a class="footer__nav1_ul1t__li__link" href="https://adalab.es/"
                    target="__blank" title="Events">Events</a>
            </li>
            <li class="footer__nav1__ul1__li"><a class="footer__nav1__ul1__li__link" href="https://adalab.es/"
                    target="__blank" title="Reasons">Reasons</a>
            </li>
            <li class="footer__nav1__ul1__li"><a class="footer__nav1__ul1__li__link" href="https://adalab.es/"
                    target="__blank" title="Tips">Tips</a>
            </li>
        </ul>
    </nav>

    </nav>
    <nav class="footer__nav2">
        <ul class="footer__nav1__ul2">
            <li class="footer__nav2__ul2__li"><a class="footer__nav2__ul2__li__link" href="https://adalab.es/"
                    target="_blank">Twitter</a></li>
            <li class="footer__nav2__ul2__li"><a class=" footer__nav2__ul2__li__link" href=" https://adalab.es/"
                    target="_blank">Instagram</a></li>
            <li class="footer__nav2__ul2__li"><a class=" footer__nav2__ul2__li__link" href=" https://adalab.es/"
                    target="_blank">Mastodon.social</a></li>
        </ul>
    </nav>
    <ul class="footer__ul3">
        <li class="footer__ul3__li">&copy2022</li>
        <li class="footer__ul3__li"> We ❤︎ components</li>
    </ul>

</footer>