<main class="main">
    <section class="sec__insomnia">
        <small class="sec__insomnia__small">Insomnia Tips</small>
        <h2 class="sec__insomnia__h2">Looking through a window</h2>
        <p class="sec__insomnia__text"> Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
            luctus ex diam nec lectus. Vivamus semper sodales rutrum.

        </p>
        <div class="sec__insomnia__go">Go</div>
    </section>
    <section class="sec__reasons">
        <h3 class="sec__reasons__tittle3"> 3 Reasons to purchase</h3>
        <article class="article">
            <h4 class="tittle4">Ut sed metus</h4>
            <p class="article__text">Lorem ipsum dolor sit amet, consecteur</p>
        </article>
        <article class="article">
            <h4 class="tittle4">Curabitur ac erat</h4>
            <p class="article__text">Mauris mattis urna quis lorem molestie</p>
        </article>
        <article class="article">
            <h4 class="tittle4">Morbi dictum</h4>
            <p class="article__text">Aliquam in dolor et dolor tincidunt</p>
        </article>

        <spam class="more_reasons"> More reasons</spam>

    </section>
</main>