<main class="main">
    <section class="sec__insomnia">
        <h5 class="sec__insomnia__small">Insomnia Tips</h5>
        <h2 class="sec__insomnia__h2">Looking through a window</h2>
        <p class="sec__insomnia__text"> Donec accumsan, nulla ut voultpat portitor, quam odio tempus felis, at
            lutus ex diam nec lectus. Vivamus semper sodales rutrum.

        </p>
        <a class="sec__insomnia__go" href="https://adalab.es" title="go">Go</a>
    </section>
    <section class="sec__reasons">
        <h3 id="reasons" class="sec__reasons__tittle3"> 3 Reasons to purchase</h3>
        <div class="reasons_article">
            <article class="article">
                <h4 class="tittle4">Ut sed metus</h4>
                <p class="article__text">Lorem ipsum dolor sit amet, consecteur.</p>
            </article>
            <article class="article">
                <h4 class="tittle4">Curabitur ac erat</h4>
                <p class="article__text">Mauris mattis urna quis lorem molestie.</p>
            </article>
            <article class="article">
                <h4 class="tittle4">Morbi dictum</h4>
                <p class="article__text">Aliquam in dolor et dolor tincidunt.</p>
            </article>
        </div>


        <div class="div__more"><a class="more_reasons" href="https://adalab.es" title="More reasons">More
                reasons</a></div>

    </section>
</main>