.footer {
  background-color: $color-darkblue;
  font-family: $font-family-text;

  text-decoration: none;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  line-height: 1.88;
  color: $color-white;
  &__ul3 {
    font-size: 14px;
    text-transform: lowercase;
  }
}
.link {
  text-decoration: none;
  color: $color-white;
}
.heard {
  color: $color-orange;
}
