.footer {
  background-color: $color-darkblue;
  font-family: $font-family-text;

  text-decoration: none;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  line-height: 1.88;
  color: $color-white;

  &__section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    line-height: 1.88;
  }
  &__ul3 {
    font-size: 14px;
    text-transform: lowercase;
    padding-bottom: 40px;
  }
  &__flecha {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-orange;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $color-white;
    text-align: center;
    line-height: 20px;
    transform: translateY(-50%);
  }
}
.link {
  text-decoration: none;
  color: $color-white;
}
.fa-solid {
  color: $color-orange;
}

@media all and (min-width: 768px) {
  .footer__section {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 50px;
    text-align: left;
  }
  .footer__ul3 {
    order: 1;
  }
  .footer__nav2 {
    order: 3;
  }
  .footer__nav1 {
    order: 2;
  }
}
@media all and (min-width: 1200px) {
  .footer__section {
    justify-content: center;
    gap: 100px;
  }
}
