.header {
  background-image: url("../images/cover_tiny.jpeg");
  background-size: cover;
  background-position: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-family: $font-family-text;
  &__caja {
    background-color: $color-blue;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 2.2rem;
    height: 2.2rem;
    padding: 5px;
    text-align: center;
  }
  &__menu {
    padding: 4px;
  }

  &__h1 {
    color: $color-white;
    font-family: $font-family-tittle;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.31;
    width: 12ch;
  }
  &__text {
    color: $color-white;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 45.2px;
  }
  &__link {
    color: $color-orange;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: $color-white;
    text-align: center;
    line-height: 37px;
    transform: translateY(-50%);
  }
}
@media all and (min-width: 768px) {
  .header {
    &__caja {
      width: 2.5rem;
      height: 2.5rem;
    }
    &__menu {
      width: 1.1rem;
      height: 1.1rem;
    }
    &__h1 {
      font-size: 80px;
      line-height: 1.45;
    }
    &__text {
      font-size: 24px;
      width: 20ch;
      text-align: center;
      margin-bottom: 30px;
    }
    &__linck {
      width: 45px;
      height: 45px;
      line-height: 45px;
      margin-bottom: 20px;
    }
  }
}
@media all and (min-width: 1200px) {
  .header {
    &__caja {
      width: 2.8rem;
      height: 2.8rem;
    }
    &__menu {
      width: 1.3rem;
      height: 1.3rem;
    }
    &__h1 {
      font-size: 100px;
    }
    &__text {
      width: 40ch;
      margin-bottom: 20px;
    }
    &__link {
      margin-top: 20px;
      margin-bottom: 0px;
    }
  }
}
