.header {
  background-image: url("../images/cover_tiny.jpeg");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  &__menu {
    background-color: $color-blue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 37.1px;
    height: 22px;
  }

  &__h1 {
    color: $color-white;
    font-family: $font-main;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.31;
  }
  &__p {
    color: $color-white;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 10px;
    margin-bottom: 35.2px;
  }
}
